<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        {{ content | safe }}
        <div class="footer">
            <li><a href="https://www.facebook.com/EJCIreland">Facebook</a></li>
            <li><a href="https://www.instagram.com/ejcireland/">Instagram</a></li>
            <li><a href="https://twitter.com/ejcireland">Twitter</a></li>
        </div>
    </div>

</body>
</html>